python-dotenv
django<3.2
django-cms<4.0
django-filer
django-sekizai
django-polymorphic
djangocms-text-ckeditor
djangocms-link
djangocms-file
djangocms-picture
djangocms-video
djangocms-googlemap
djangocms-snippet
djangocms-style
django-allauth
jsonfield
django-tables2
django-cookie-law==2.1.1
django-tinymce
sleeper-api-wrapper
feedparser
python-dateutil
patreon
loguru
