python-dotenv
django
django-cms
django-filer
djangocms-text-ckeditor
djangocms-link
djangocms-file
djangocms-picture
djangocms-video
djangocms-googlemap
djangocms-snippet
djangocms-style
django-allauth
jsonfield
django-tables2
django-cookie-law
django-tinymce
sleeper-api-wrapper
feedparser
python-dateutil
patreon
