{% extends 'leagues/tables_base.html' %}

{% load render_table from django_tables2 %}

{% block content %}


<div class="ui container stats-container">
    <h1 class="ui header">Draft Stats</h1>
    <div class="ui segment">
        <div class="ui black progress" data-percent="{{ drafts_done_percent }}">
            <div class="bar" style="transition-duration: 300ms; width: {{ drafts_done_percent }}%;">
                <div class="progress"></div>
            </div>
            <div class="label">{{ drafts_done}} / {{ drafts_overall }} Drafts abgeschlossen</div>
        </div>
    </div>
</div>
<div class="ui container stats-container">
    <div class="dst-spacer dst-spacer-75">
        <div class="ui container stat-container">
            <div class="stats-title-container">
                <h2 class="stats-title">Average DST Draft Position</h2>
            </div>
            <div>
                <div class="position-selector">
                    {% for pos in positions %}
                    <div class="position-selection-container">
                        <a href="/leagues/stats/draft/{{ pos.position }}" class="position-selection{% if pos.position == selected_position %} selected{% endif %}">{{ pos.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% render_table adp_table %}
        </div>
    </div>
    <div class="dst-spacer dst-spacer-25">
        <div class="ui container stat-container">
            <div class="stats-title-container">
                <h2 class="stats-title">Upcoming Drafts</h2>
            </div>
            {% render_table next_drafts_table %}
        </div>
    </div>
    <div class="dst-spacer dst-spacer-50">
        <div class="ui container stat-container">
            <div class="stats-title-container">
                <h2 class="stats-title">Top 5 Upset-Picks</h2>
            </div>
            {% render_table upset_table %}
        </div>
    </div>
    <div class="dst-spacer dst-spacer-50">
        <div class="ui container stat-container">
            <div class="stats-title-container">
                <h2 class="stats-title">Top 5 Steal-Picks</h2>
            </div>
            {% render_table steal_table %}
        </div>
    </div>
</div>

{% endblock %}
