{% extends 'leagues/tables_base.html' %}

{% load render_table from django_tables2 %}
{% load league_tags %}

{% block content %}

<div class="ui container">
    <div class="dst-spacer dst-spacer-75">
        <div class="ui container home-container">
            <div class="title-container">
                <h2 class="title">Neuigkeiten</h2>
            </div>
            {% for news in news_list %}
            <div class="ui segment">
                <h2 class="ui header">
                    <img class="ui image" src="/media/images/{{ news.image }}">
                    <div class="content news-title">
                        {{ news.title }}
                    </div>
                </h2>
                <div class="news-date">{{ news.date }}</div>
                <div class="news-content">{{ news.content|safe }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="dst-spacer dst-spacer-25">
        <div class="ui container home-container">
            <a href="https://anchor.fm/dstfanfoobl"><img alt="DSTFanFooBL - Der Podcast zur Down, Set, Talk! Fantasy Football Bundesliga" class="ui image" src="/media/images/podcast.jpg"></a>
        </div>
        <div class="ui container home-container">
            <div class="social-media-container">
                <a href="https://twitter.com/dstfanfoobl"><i class="big twitter icon"></i></a>
                <a href="https://www.instagram.com/dstfanfoobl/"><i class="big instagram icon"></i></a>
            </div>
        </div>
        <div class="ui container home-container">
            <div class="title-container">
                <h2 class="title">Awards</h2>
            </div>
            {% for award in awards %}
                {{ award }}
            {% endfor %}
            <span style="padding-left: 10px"><a href="/leagues/stats/facts_and_figures/">Noch mehr Awards...</a></span>
        </div>
    </div>
</div>




{% endblock %}
