{% extends 'leagues/tables_base.html' %}

{% load render_table from django_tables2 %}

{% block content %}
<div class="ui container leagues-container">
    {% for league in leagues %}
        <div class="dst-spacer dst-spacer-50">
            <div class="ui container league-container">
                <div class="league-title-container {{ league.conference }}">
                    <h2 class="league-title">{{ league.title }}</h2>
                </div>
                {% render_table league.table %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="ui container">
    <div class="dst-spacer dst-spacer-100">
        {% include "leagues/legend.html" %}
    </div>
</div>


{% endblock %}
