{% load menu_tags %}

{% for child in children %}
<div class="child {% if child.selected %}selected {% endif %}{% if child.ancestor %}ancestor {% endif %}{% if child.sibling %}sibling {% endif %}{% if child.descendant %}descendant {% endif %}{{ child.attr.li_class }} {% if child.children %}ui dropdown {% endif %}item">
    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="{% if child.children %}ui dropdown {% endif %}{{ child.attr.a_class }}">{{ child.get_menu_title }}</a>
    {% if child.children %}
    <div class="menu">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </div>
    {% endif %}
</div>
{% endfor %}
