{% extends 'leagues/tables_base.html' %}

{% load render_table from django_tables2 %}

{% block content %}

<div class="ui container league-container">
    {% if my_league %}
    <div class="league-title-container {{ conference }}">
        <h2 class="league-title">{{ title }}</h2>
    </div>
    {% render_table table %}
    {% include "leagues/legend.html" %}
    {% else %}
        <div>Du hast noch keine Liga ausgewählt.</div>
    {% endif %}
</div>

<div class="ui container ">
    <div class="my-league-container">
        <div class="ui fluid search selection dropdown">
            <input type="hidden" name="my_league" id="my-league-selector">
            <i class="dropdown icon"></i>
            <div class="default text">Wähle deine Liga:</div>
            <div class="menu">
                {% for level in levels %}
                {% for league in level.leagues %}
                <div class="item" data-value="{{ league.sleeper_id }}">{{ league.sleeper_name }}</div>
                {% endfor %}
                {% endfor %}
            </div>

        </div>
        <div class="ui container button-container">
            <button class="ui secondary button my-league-button" onclick="setMyLeague()">Speichern</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    const setMyLeague = function () {
        let selector = document.getElementById("my-league-selector");
        let my_league = selector.value;
        if (my_league != null) {
            document.cookie = "my_league=" + my_league;
            window.location.reload();
        }
    };

    $(function () {
        $('.my-league-container .ui.dropdown').dropdown();
    });
</script>
{% endblock %}
