body {
    background-color: rgb(224,224,224);
    font-size: 17px;
    margin: 0px;
}

header {
    background-color: rgb(32,32,32);
    width: 100%;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 1em 1.25em;
    border: none;
    display: block;
}

nav > ul {
    list-style: none;
    padding: 0 0.25rem;
    margin: 0px;
    display: flex;
}

nav > ul > li {
    font-size: 1.0625rem;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(32,32,32);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

