{% extends 'tables_base.html' %}

{% load render_table from django_tables2 %}

{% block content %}
<div class="ui container leagues-container">
    {% for league in leagues %}
        <div class="league-spacer">
            <div class="ui container league-container league-level-{{ league.level }}-container">
                <div class="league-title-container">
                    <h2 class="league-title">{{ league.title }}</h2>
                </div>

                {% render_table league.table %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
