{% extends 'tables_base.html' %}

{% block content %}

<div class="ui container">
    <div class="dst-spacer dst-spacer-100">
        <div class="ui container home-container">
            <div class="title-container">
                <h2 class="title">Bitte entschuldige - irgendetwas ist schiefgegangen!</h2>
            </div>
            <div class="ui segment">
                <h3>Bitte versuch es zu einem späteren Zeitpunkt noch einmal!</h3>
                <h4>Sollten die Probleme anhalten schick uns bitte die folgenden Informationen an anmeldung@dstffbl.uber.space, damit wir dich manuell anmelden können:</h4>
                <ul>
                    <li>Email Adresse, mit der du bei Patreon registriert bist</li>
                    <li>Deinen Sleeper Benutzernamen oder deine Sleeper-ID</li>
                    <li>Deine Region:
                        <ul>
                            <li>Nord (Niedersachsen, Bremen, Hamburg, Mecklenburg-Vorpommern , Schleswig-Holstein)</li>
                            <li>Ost (Thüringen, Berlin, Sachsen, Sachsen-Anhalt, Brandenburg)</li>
                            <li>Süd (Bayern, Baden-Württemberg)</li>
                            <li>West (Nordrhein-Westfalen, Hessen, Saarland, Rheinland-Pfalz)</li>
                            <li>Ausland</li>
                        </ul>
                    </li>
                    <li>Kannst du dir vorstellen, die Rolle des Commissioners in deiner Liga zu übernehmen?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
