{% extends 'tables_base.html' %}

{% block content %}

<div class="ui container">
    <div class="dst-spacer dst-spacer-100">
        <div class="ui container home-container">
            <div class="title-container">
                <h2 class="title">Bitte entschuldige - irgendetwas ist schiefgegangen!</h2>
            </div>
            <div class="ui segment">
                <h3>Bitte versuch es zu einem späteren Zeitpunkt noch einmal!</h3>
                <p>Sollten die Probleme anhalten schick uns bitte die folgenden Informationen <b>vollständig</b> an anmeldung@dstffbl.uber.space, damit wir dich manuell anmelden können:</p>
                <ul>
                    <li>Deinen Sleeper Benutzernamen oder deine Sleeper-ID</li>
                    <li>Kannst du dir vorstellen, die Rolle des Commissioners in deiner Liga zu übernehmen?</li>
                    <li>Die Email Adresse, mit der du bei Patreon registriert bist</li>
                    <li>Einen Screenshot deiner Down Set Talk! Patreon Mitgliedschaft (einsehbar <a href="https://www.patreon.com/settings/memberships">hier</a>). <br> <b>Wichtig: </b>Die folgenden Daten müssen auf dem Screenshot eindeutig erkennbar sein:
                        <ul>
                            <li>Die Adresszeile des Browsers</li>
                            <li>Dein aktuelles Mitgliedschaftslevel für Down Set Talk!</li>
                            <li>Das nächste Abrechnungsdatum</li>
                        </ul>
                    </li>
                </ul>
                <b>Nur Anmeldungen mit allen Angaben werden bearbeitet! Aufgrund der Größe der Liga ist es uns leider nicht mehr möglich einzeln nachzuhaken, solltet ihr die Anmeldung unvollständig ausgefüllt haben!</b>
            </div>
        </div>
    </div>
</div>

{% endblock %}
