{% load cms_tags sekizai_tags menu_tags static cookielaw_tags %}
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>

        <link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/media/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/media/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/media/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/media/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/media/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/media/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/media/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
        <link rel="manifest" href="/media/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/media/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        {% render_block "css" %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% endblock %}
    </head>
    <body>
        <div class="main">
            {% cms_toolbar %}
            <header class="logo-header">
                <div class="logo-container"><img class="logo" src="/media/images/{{ header_logo | default:'dst_bl_logo' }}.png" alt="Home"></div>
                <div class="header-container"><img src="/media/images/dst_header.png" alt="Down! Set! Talk! Fantasy Football Bundesliga"></div>
            </header>
            <nav id="top-nav" class="ui sticky">
                <div class="menu-row first-menu-row">{% show_menu 0 100 100 100 'leagues/menu.html' %}</div>
                <div class="menu-row cffc-menu-row hidden_one hidden_two hidden_three">
                    <div class="item conference-menu-node menu-node-league-3CFFC CFFC">
                        <a href="/leagues/conf/CFFC/lev/3/">Conference-Liga</a>
                    </div>
                    <div class="item conference-menu-node menu-node-league-4CFFC CFFC">
                        <a href="/leagues/conf/CFFC/lev/4/">Divisionsliga</a>
                    </div>
                    <div class="item conference-menu-node menu-node-league-5CFFC CFFC droppable">
                        <a href="/leagues/conf/CFFC/lev/5/">Regionalliga</a>
                    </div>
                </div>
                <div class="menu-row affc-menu-row hidden_one hidden_two hidden_three">
                    <div class="item conference-menu-node menu-node-league-3AFFC AFFC">
                        <a href="/leagues/conf/AFFC/lev/3/">Conference-Liga</a>
                    </div>
                    <div class="item conference-menu-node menu-node-league-4AFFC AFFC">
                        <a href="/leagues/conf/AFFC/lev/4/">Divisionsliga</a>
                    </div>
                    <div class="item conference-menu-node menu-node-league-5AFFC AFFC droppable">
                        <a href="/leagues/conf/AFFC/lev/5/">Regionalliga</a>
                    </div>
                </div>
                <div class="menu-row regional-menu-row regional-cffc-menu-row hidden_one hidden_two hidden_three">
                    <div class="item regional-menu-node menu-node-league-5CFFC-Nord CFFC">
                        <a href="/leagues/conf/CFFC/lev/5/reg/Nord/">Nord</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5CFFC-Ost CFFC">
                        <a href="/leagues/conf/CFFC/lev/5/reg/Ost/">Ost</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5CFFC-Süd CFFC">
                        <a href="/leagues/conf/CFFC/lev/5/reg/Sued/">Süd</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5CFFC-West CFFC">
                        <a href="/leagues/conf/CFFC/lev/5/reg/West/">West</a>
                    </div>
                </div>
                <div class="menu-row regional-menu-row regional-affc-menu-row hidden_one hidden_two hidden_three">
                    <div class="item regional-menu-node menu-node-league-5AFFC-Nord AFFC">
                        <a href="/leagues/conf/AFFC/lev/5/reg/Nord/">Nord</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5AFFC-Ost AFFC">
                        <a href="/leagues/conf/AFFC/lev/5/reg/Ost/">Ost</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5AFFC-Süd AFFC">
                        <a href="/leagues/conf/AFFC/lev/5/reg/Sued/">Süd</a>
                    </div>
                    <div class="item regional-menu-node menu-node-league-5AFFC-West AFFC">
                        <a href="/leagues/conf/AFFC/lev/5/reg/West/">West</a>
                    </div>
                </div>
            </nav>
            <div class="breadcrumb-container">
                {% show_breadcrumb 1 "leagues/breadcrumb.html" %}
            </div>
            <div class="content">

                {% block content %}
                {% endblock %}
            </div>
            <footer>
                {% cookielaw_banner  %}
                <ul>
                    <li class="right"><a href="/impressum">Impressum & Datenschutz</a></li>
                    <li class="right"><a href="/regelwerk">Regelwerk</a></li>
                    <li class="right"><a href="/faq">FAQs</a></li>
                    <li class="right"><a href="http://downsettalk.de/">DOWN,SET,TALK!</a></li>
                </ul>
            </footer>
        </nav>
        {% render_block js %}
        {% block js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
        <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
        <script>
            $(function () {
                $('nav').sticky();

                $('.menu-row.cffc, .menu-row.affc').hover(() => {
                    $('.breadcrumb').addClass('hidden_one hidden_two hidden_three');
                }, () => setTimeout(() => {
                    $('.breadcrumb').removeClass('hidden_one hidden_two hidden_three');
                }, 100));

                $('.league-menu-node.droppable.cffc').hover(() => {
                    $('.cffc-menu-row').removeClass('hidden_one');
                    $('.affc-menu-row').addClass('hidden_one');
                    $('.affc-menu-row').addClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.cffc-menu-row').addClass('hidden_one');}, 100);
                });
                $('.league-menu-node.droppable.affc').hover(() => {
                    $('.affc-menu-row').removeClass('hidden_one');
                    $('.cffc-menu-row').addClass('hidden_one');
                    $('.cffc-menu-row').addClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.affc-menu-row').addClass('hidden_one');}, 100);
                });

                $('.cffc-menu-row').hover(() => {
                    $('.cffc-menu-row').removeClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.cffc-menu-row').addClass('hidden_two');}, 100);
                });
                $('.affc-menu-row').hover(() => {
                    $('.affc-menu-row').removeClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.affc-menu-row').addClass('hidden_two');}, 100);
                });

                $('.regional-cffc-menu-row').hover(() => {
                    $('.cffc-menu-row').removeClass('hidden_three');
                }, () => {
                    setTimeout(() => {$('.cffc-menu-row').addClass('hidden_three');}, 100);
                });
                $('.regional-affc-menu-row').hover(() => {
                    $('.affc-menu-row').removeClass('hidden_three');
                }, () => {
                    setTimeout(() => {$('.affc-menu-row').addClass('hidden_three');}, 100);
                });

                $('.menu-node-league-5CFFC').hover(() => {
                    $('.regional-cffc-menu-row').removeClass('hidden_one');
                }, () => {
                    setTimeout(() => {$('.regional-cffc-menu-row').addClass('hidden_one');}, 100);
                });
                $(' .menu-node-league-5AFFC').hover(() => {
                    $('.regional-affc-menu-row').removeClass('hidden_one');
                }, () => {
                    setTimeout(() => {$('.regional-affc-menu-row').addClass('hidden_one');}, 100);
                });

                $('.regional-cffc-menu-row').hover(() => {
                    $('.regional-cffc-menu-row').removeClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.regional-cffc-menu-row').addClass('hidden_two');}, 100);
                });
                $('.regional-affc-menu-row').hover(() => {
                    $('.regional-affc-menu-row').removeClass('hidden_two');
                }, () => {
                    setTimeout(() => {$('.regional-affc-menu-row').addClass('hidden_two');}, 100);
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
