{% extends 'tables_base.html' %}

{% load socialaccount league_tags %}

{% block content %}

<div class="ui container">
    <div class="dst-spacer dst-spacer-100">
        <div class="ui container home-container">
            <div class="title-container">
                <h2 class="title">Anmeldung</h2>
            </div>
            <div class="ui segment">
                <p>Um an der "Down, Set, Talk!" Fantasy Football Bundesliga teilnehmen zu können, musst du "Down, Set, Talk!"-Special-Teamer sein (weitere Informationen und Anmeldungen hierfür unter <a href="https://www.patreon.com/downsettalk">https://www.patreon.com/downsettalk</a>). Wir nutzen daher Patreon, um deine Teilnahmeberechtigung zu prüfen und einen "Down, Set, Talk!" Fantasy Football Bundesliga Zugang zu erstellen. </p>
                <form class="ui form" action='{% provider_login_url "patreon" %}' method="post">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="ten wide field">
                            <div class="ui checkbox {% if form.possible_commish.value == True %}checked{% endif %}">
                                <input hidden name="next" id="next" value="{{ next|default:'/' }}">
                                <input id="accept_patreon_data_access" type="checkbox" required onchange="this.setCustomValidity(validity.valueMissing ? 'Eine Anmeldung ist nur möglich, wenn du der Datenverarbeitung zustimmst' : '');">
                                <label>Ich akzeptiere, dass ihr meine Patreon-Daten abruft und für die "Down, Set, Talk!" Fantasy Football Bundesliga speichert</label>
                            </div>
                        </div>
                    </div>
                    <div class="dst-spacer-25">
                        <button class="ui approve submit button" type="submit">Mit Patreon anmelden</button>
                    </div>
                </form>
                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Welche Daten speichern wir?
                    </div>
                    <div class="content">

                        <p class="transition visible" style="display: block !important;">Wir speichern deine Patreon Profilinformationen und deinen Status als "Down, Set, Talk!" Special Teamer. Diese Daten werden ausschließlich genutzt, um die Durchführung der "Down, Set, Talk!" Fantasy Football Bundesliga zu ermöglichen. Du kannst deinen Zugang bei uns jederzeit löschen, alle von Patreon bezogenen Daten werden dann ebenfalls gelöscht. Beachte bitte, dass eine (weitere) Teilnahme am Spielbetrieb damit leider nicht mehr möglich ist. Weitere Details findest du
                            <a href="/impressum/">hier</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("accept_patreon_data_access").setCustomValidity('Eine Anmeldung ist nur möglich, wenn du der Datenverarbeitung zustimmst');
</script>

{% endblock %}

