{% extends 'tables_base.html' %}

{% block content %}

    <div class="ui container">
        <div class="dst-spacer dst-spacer-100">
            <div class="ui container home-container">
                <div class="title-container">
                    <h2 class="title">Erfolgreich vorgemerkt!</h2>
                </div>
                <div class="ui segment">
                    <h3>Du erhältst bald eine E-Mail, um deine Anmeldung zu bestätigen.</h3>
                    <p>Falls du die E-Mail nach 24 Stunden nicht erhalten hast kontaktiere uns bitte. Schau vorher ggfs.
                        nochmal in deinem Spam-Ordner vorbei ;-)</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

