body {
    background-color: rgb(224, 224, 224);
    font-size: 17px;
    margin: 0px;
    font-family: Raleway, Arial, Helvetica;
}

.main {
    max-width: 1440px;
    background-color: white;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: auto;
}

header {
    background: #000D2B;
    width: 100%;
    max-height: 210px;
    display: block;
}

header img {
    max-height: 100%;
    max-width: 100%;
}

.header-container {
    width: 84%;
    float: left;
}

.logo-container {
    width: 16%;
    float: left;
}

.logo {
    display: block;
    margin: auto;
}

nav {
    margin-top: 3px;
    background: #000D2B;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em 1.25em;
    border: none;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0 0.25rem;
    margin: 0;
    display: block;
}

nav ul li {
    border: 2px solid #000D2B;
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}

nav ul li:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.content {
    flex: 0 1 auto;
    background-color: white;
}

@media only screen and (min-width: 1100px) {
    .content {
        padding: 1.5rem;
    }

    .league-spacer {
        width: 50%;
    }
}

@media only screen and (max-width: 1099px) {
    .content {
        padding: 1rem;
    }

    .league-spacer {
        width: 100%;
    }
}

.league-spacer {
    display: block;
    float: left;
}

.league-container {
    background-color: white;
    padding: 10px;
}

.league-container table {
    width: 100%;
}

.table-container {
    display: block;
    width: 100%;
}

.league-title-container {
    background: #102F4D;
    padding: 1em;
}

.league-title {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: #FFFFFF;

}

table {
    border-spacing: unset;

}

th {
    padding: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #102F4D;
}

td {
    padding: 0px 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #F0F0F1;
}

th.playoff-indicator, th.team-manager, th.wins, th.losses, th.ties, th.points {
    padding-left: 25px;
}

td.playoff-indicator, td.team-manager, td.wins, td.losses, td.ties, td.points {
    padding-left: 25px;
}

div.owner_name {
    display: flex;
    padding-left: 7px;
}

div.team-manager {
    display: flex;
    overflow: auto;
}

div.team-manager div {
    float: left;
    justify-content: center;
    align-items: center;
}

div.avatar {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background: none;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.header-spacer {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

/* raleway-regular - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/raleway-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-italic - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/raleway-v12-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v12-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700italic - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url('../fonts/raleway-v12-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-regular - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../fonts/quicksand-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/quicksand-v7-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../fonts/quicksand-v7-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/quicksand-v7-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.right {
    float: right;
}

.border-left {
    border-left: 2px solid #FFFFFF;
}
