body {
    background-color: rgb(224, 224, 224) !important;
    font-size: 17px;
    margin: 0px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
}

.main {
    max-width: 1440px;
    background-color: white;
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: auto;
}

.logo-header {
    background: #000D2B;
    width: 100%;
    max-height: 210px;
    display: block;
    margin-bottom: 3px;
}

.logo-header img {
    max-height: 100%;
    max-width: 100%;
}

.header-container {
    width: 84%;
    float: left;
}

.logo-container {
    width: 16%;
    float: left;
}

.logo {
    display: block;
    margin: auto;
}

nav {
    background: #000D2B;
}

nav div a {
    color: white !important;
    text-decoration: none;
    padding: 1em 1.25em;
    border: none;
    display: block;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

nav div {
    background: #000D2B;
    border: 2px solid #000D2B;
    float: left;
    padding: 0 0.25rem;
    line-height: 22px;
    align-items: center;
    text-align: center;
}

nav div.dropdown div {
    background-color: #F0F0F1;
}

nav div.ui.dropdown .menu>.item {
    padding: 0 0.25rem !important;
}

#top-nav .AFFC div.menu {
    background-color: #9F2220;
}

#top-nav .CFFC div.menu {
    background-color: #426BAE;
}
#top-nav .AFFC div.item {
    background-color: #9F2220;
}

#top-nav .CFFC div.item {
    background-color: #426BAE;
}



nav div.dropdown div a {
    color: black;
}

nav div.selected {
    /*background-color: rgba(196, 196, 196, 0.63) !important;*/
    box-shadow: inset 0 0 100px 100px rgba(196, 196, 196, 0.63) !important;
}

nav div:hover {
    box-shadow: inset 0 0 100px 100px rgba(196, 196, 196, 0.43) !important;
}

#top-nav .AFFC.selected {
    background-color: #9F2220;
    box-shadow: none !important;
}

#top-nav .CFFC.selected {
    background-color: #426BAE;
    box-shadow: none !important;
}

#top-nav .AFFC.selected:hover {
    box-shadow: inset 0 0 100px 100px rgba(196, 196, 196, 0.43) !important;
}

#top-nav .CFFC.selected:hover {
    box-shadow: inset 0 0 100px 100px rgba(196, 196, 196, 0.43) !important;
}

nav div.item:hover {
    /* box-shadow: inset 0 0 0 99999px rgba(125,125,125,0.2) !important; */
}

/* Bugfix for bouncing Navbar */
.fixed + .content {
    margin-top: 40px;
}

.content {
    flex: 1;
    background-color: white;
    //margin-bottom: 50px;
}

footer {
    background: #000D2B;;
    width: 100%;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 1em 1.25em;
    border: none;
    display: block;
}

footer ul li a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

footer ul {
    list-style: none;
    padding: 0 0.25rem;
    margin: 0;
    display: block;
}

footer ul li {
    border: 2px solid #000D2B;
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 1100px) {
    .content {
        padding: 1.5rem;
    }

    .dst-spacer-25 {
        width: 25%;
    }

    .dst-spacer-50 {
        width: 50%;
    }

    .dst-spacer-75 {
        width: 75%;
    }

    .dst-spacer-100 {
        width: 100%;
    }
}

@media only screen and (max-width: 1099px) {
    .content {
        padding: 1rem;
    }

    dst-spacer-25, .dst-spacer-50, dst-spacer-75, .dst-spacer-100 {
        width: 100%;
    }
}

.dst-spacer {
    display: block;
    float: left;
}

.league-container {
    background-color: white;
    padding: 10px;
}

.stat-container {
    background-color: white;
    padding: 10px;
}

.home-container {
    background-color: white;
    padding: 10px;
}

.league-container table {
    width: 100%;
}

.stat-container table {
    width: 100%;
}

.stat-container td {
    padding: 5px 0;
}

.table-container {
    display: block;
    width: 100%;
}

.title-container {
    background: #102F4D;
    padding: 1em;
}

.league-title-container {
    background: #102F4D;
    padding: 1em;
}

.league-title-container.AFFC {
    background-color: #9F2220;
}

.league-title-container.CFFC {
    background-color: #426BAE;
}

.stats-title-container {
    background: #102F4D;
    padding: 1em;
}

.league-title {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: #FFFFFF;
}

.stats-title {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: #FFFFFF;
}

h2.title {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: #FFFFFF;
}

.news-date {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
}

table {
    border-spacing: unset;

}

th {
    padding: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #102F4D;
}

td {
    padding: 0px 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
}

.league-container tr:nth-child(6) td {
    border-bottom: 2px solid #102F4D;
}

tr:nth-child(odd) {
    background-color: #F0F0F1;
}

th.playoff-indicator, th.team-manager, th.wins, th.losses, th.ties, th.points {
    padding-left: 25px;
}

td.playoff-indicator, td.team-manager, td.wins, td.losses, td.ties, td.points {
    padding-left: 25px;
}

th.playoff-indicator, th.player, th.wins, th.losses, th.ties, th.points {
    padding-left: 25px;
}

td.playoff-indicator, td.player, td.wins, td.losses, td.ties, td.points {
    padding-left: 25px;
}

div.owner_name {
    display: flex;
    padding-left: 7px;
}

div.player_name {
    display: flex;
    padding-left: 7px;
}

div.team-manager {
    display: flex;
    overflow: auto;
}

div.team-manager div {
    float: left;
    justify-content: center;
    align-items: center;
}

div.player {
    display: flex;
    overflow: auto;
}

div.player div {
    float: left;
    justify-content: center;
    align-items: center;
}

.table-container .league {
    text-align: left;
}

div.avatar {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background: none;
}

td.league {
    height: 40px;
}

td.date {
    white-space: nowrap;
}

.button-container {
    margin-top: 5px;
}

.my-league-container {
    max-width: 240px;
}

.legend-container ul {
    list-style: none;
    align-items: center;
}

.legend-explain {
    margin-left: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
}

.position-selector {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000D2B;
}

.position-selection-container {
    padding: 10px !important;
    float: left;
    font-size: 14px;
}

.position-selector .position-selection {
    padding: 6px 12px;
    border-radius: 14px;
    cursor: pointer;
}

.position-selector .position-selection.selected {
    background-color: #102F4D;
    color: white;
}

.position-selector .position-selection:hover {
    box-shadow: inset 0 0 100px 100px rgba(190, 190, 190, 0.5);
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.header-spacer {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

/* raleway-regular - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/raleway-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-italic - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/raleway-v12-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v12-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700italic - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url('../fonts/raleway-v12-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v12-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-regular - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../fonts/quicksand-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/quicksand-v7-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../fonts/quicksand-v7-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/quicksand-v7-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.right {
    float: right;
}

.border-left {
    border-left: 2px solid #FFFFFF;
}

#CookielawBanner {
    padding: 1em 1.5em;
    background-color: rgb(224, 224, 224);
}

#CookielawBanner button {
    width: 150px;
}














