<div class="ui segment award-container">
    <div class="award-title-container">
        <h3 class="award-title">{{ title }} {{ icon }}</h3>
    </div>
    <div class="ui container award-content-container">
        {% if league %}
            <h4 class="award-sub-title"><a href="{{ league.url}}">{{league.sleeper_name}}</a></h4>
        {% endif %}
        <div class="team-manager">
            <div class="avatar"
                 style="background-image: url('https://sleepercdn.com/avatars/thumbs/{{ roster.owner.avatar_id }}'); width: 40px; height: 40px; flex: 0 0 40px; background-size: contain;"></div>
            <div class="owner_name">{% if roster.owner %}{{ roster.owner.display_name }}{% else %}TBD{% endif %}<span class="score">{{ score|stringformat:".2f" }}</span></div>
        </div>

    </div>
</div>
